===============================[ CORNER TECH]===================================



LINK

Temp mail edu

https://throwaway-email.com



Config RDP

https://github.com/Hyoru1/Rdp



SSH

https://ngrok.com/
